<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>RIOT WITHOUT CAUSE</h1>
  <h2>
    This is the home page for
    <a href="http://www.railstutorial.org/">Rioting</a>
    if you can't take it, leave.
  </h2>

  <%= link_to "Sign in!", signup_path, class: "btn btn-lg btn-primary" "sign_in" %>
</div>


<body id="home_bgi">
</body>
<% end %>


            